.profile__container {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

@media screen and (max-width: 619px) {
    .profile__container {
        margin: 26px 0 8px 0;
    }    
}
