.element__button-delete {
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/wastebasket.svg);
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__button-delete:hover {
    opacity: .6;
    cursor: pointer;
}